// breakpoints
@mixin breakpoint($point) {
    @if $point == xs {
        @media (max-width: 600px) {
            @content;
        }
    } @else if $point == sm {
        @media (min-width: 600px) and (max-width: 960px) {
            @content;
        }
    } @else if $point == md {
        @media (min-width: 960px) and (max-width: 1280px) {
            @content;
        }
    } @else if $point == lg {
        @media (min-width: 1280px) and (max-width: 1920px) {
            @content;
        }
    } @else if $point == xl {
        @media (min-width: 1920px) and (max-width: 2560px) {
            @content;
        }
    } @else if $point == xxl {
        @media (min-width: 2560px) {
            @content;
        }
    }
}
